body {
    min-height: 100vh;
    margin: 0;
}

.carousel-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    margin: 0 auto;

    cursor: pointer;
    overflow: hidden;
    .carousel-inner {
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: row;
        .carousel-item-container {
            width: fit-content;
            box-sizing: content-box;
            img {
                height: 100%;
                object-fit: contain;
                user-select: none;
                -webkit-user-drag: none;
            }
        }
    }
}
button.nav-button {
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        border-color: #7d7d7d;
    }

    &_prev {
        left: 40px;
        border-bottom: 5px solid #adadad;
        border-left: 5px solid #adadad;
        transform: rotate(45deg);
        transition: left 0.5s;
        &:hover {
            left: 30px;
        }
    }
    &_next {
        right: 40px;
        border-bottom: 5px solid #adadad;
        border-right: 5px solid #adadad;
        transform: rotate(-45deg);
        transition: right 0.5s;
        &:hover {
            right: 30px;
        }
    }
}

